@page "/notfound"
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>@Loc["NotFoundContentLabel"]</PageTitle>
<div class="d-flex mt-5 justify-content-center">
    <h3>@Loc["NotFoundContentLabel"]</h3>
</div>

@code {
    
}
