@page "/favorites"
@using GoodsTracker.Platform.Shared.Models
@inject IStringLocalizer<SharedResource> Loc

<PageTitle>@Loc["FavoritesLabel"]</PageTitle>

<div class="p-3">
    <h1>@Loc["FavoritesLabel"]</h1>
    
    <hr/>
    
    <div class="container">
        <div class="col justify-content-center">
            <FavoriteItemCard Item="ItemModel1"></FavoriteItemCard>
            <FavoriteItemCard Item="ItemModel2"></FavoriteItemCard>
        </div>
    </div>
</div>

@code {

    public BaseItemModel ItemModel1 = new BaseItemModel
    {
        Id = 1,
        Currensy = "BYN",
        FetchDate = DateTime.Today,
        Country = "Беларусь",
        ImgLink = "https://avatars.mds.yandex.net/get-eda/3709189/309002db176ee60d37b5def843c57c76/500x500",
        OnDiscount = false,
        WeightUnit = "г",
        Name = "Салат Оливье салат майонезный Самое время вес 0,25",
        VendorId = 1,
        Weight = 250,
        Price = 3.54m,
        Liked = false,
    };
    
    public BaseItemModel ItemModel2 = new BaseItemModel
    {
        Id = 1,
        Currensy = "BYN",
        FetchDate = DateTime.Today,
        Country = "Беларусь",
        ImgLink = "https://avatars.mds.yandex.net/get-eda/3378693/ea1577c31364251e6c4c0c46dc5b9931/500x500",
        OnDiscount = true,
        WeightUnit = "мл",
        Name = "Кефир ДЕТСКИЙ жир. 3.2% ТБА вес 0.25кг Депи",
        VendorId = 1,
        Weight = 250,
        Price = 2.59m,
        DiscountPrice = 2.20m,
        Liked = false,
    };

}
