@import "../node_modules/bootstrap/scss/functions";

// custom colors

$primary: #CDDA32;
$secondary: #2E4057;
$warning: #EA9010;
$danger: #D42019;
$light: #F5EFED;
$link-color: $secondary;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/bootstrap";
