@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResource> Loc

<div class="login">
    @* TODO: place logo here *@
    <main class="form-signin w-100 m-auto">
        @Body
    </main>
</div>