@inherits LayoutComponentBase

<div class="login">
    <main class="form-signin w-100 m-auto">
        <div class="mb-4 text-center"><a class="logo" alt="howMuch" href="#"><h2><BrandLogo/></h2></a></div>
        @Body
    </main>
</div>
